@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;500;600;700&display=swap');

/* ##### Common Styles ###### */
:root {
  --bg-clr: #333;
  --yellow-clr: #ffc200;
  --white-clr: #fff;
  --bg-clr: #303030;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Grand Hotel', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  line-height: 1.5em;
  font-size: 1rem;
  color: var(--bg-clr);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 20px;
  line-height: 1.5em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.btn {
  background-color: var(--yellow-clr);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ffc200d1;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

.title {
  max-width: 836px;
  margin: 0 auto;
  text-align: center;
}

/* ##### Header ##### */
#header {
  height: 95vh;
  overflow: hidden;
}

#nav {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 5%;
  z-index: 100;
}

#nav ul {
  flex: 1;
  text-align: right;
}

#nav ul li {
  display: inline-block;
  margin-right: 20px;
}

#nav ul li:last-child {
  margin-right: 0;
}

#nav ul a {
  display: block;
  color: var(--white-clr);
  text-transform: capitalize;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 15px;
}

#nav ul a:hover,
#nav ul a.active {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-img {
  width: 70%;
  height: 100%;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9;
}

.content {
  position: absolute;
  width: 68%;
  height: 98%;
  padding: 0 10% 0 15%;
  top: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/banner-design.png) no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

.inner-content {
  max-width: 560px;
}

.inner-content h1 {
  color: var(--yellow-clr);
  line-height: 1.5em;
}

.inner-content p {
  color: var(--white-clr);
  padding-bottom: 20px;
}

.inner-content a {
  color: var(--bg-clr);
  padding: 7px 20px;
}

/* ##### Main ##### */
#main {
  width: 100%;
}

/* ##### Best Seller ##### */
.best-seller {
  padding: 80px 0;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 0;
}

.card {
  max-width: 250px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.card h4 {
  font-size: 2rem;
}

.card p {
  font-size: 14px;
}

/* ##### Oriental & Chicken ##### */
.oriental {
  padding: 80px 0;
  background: url(../images/oriental-bg.png) no-repeat;
  background-size: 100% 100%;
}

.chicken {
  padding: 80px 0;
  background: url(../images/chicken-bg.png) no-repeat;
  background-size: 100% 100%;
}

.oriental-img,
.chicken-img {
  width: 300px;
  height: 300px;
}

.oriental-img img,
.chicken-img img {
  width: 100%;
}

.oriental-content,
.chicken-content {
  max-width: 420px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex h2 {
  color: var(--yellow-clr);
}

.flex p {
  color: var(--white-clr);
  padding-bottom: 35px;
}

.flex a {
  color: var(--bg-clr);
  padding: 9px 25px;
}

/* ##### Statistics ##### */
.statistics {
  padding: 80px 0;
  background: url(../images/bg.png) no-repeat;
  background-size: 100% 100%;
  background-color: var(--bg-clr);
}

.statistics .title h2 {
  color: var(--yellow-clr);
}

.statistics .title p {
  color: var(--white-clr);
}

.counter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  padding: 50px 0;
}

.counter {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid var(--white-clr);
}

.counter h4 {
  font-family: var(--primary-font);
  color: var(--yellow-clr);
  font-weight: bold;
}

.counter p {
  color: var(--white-clr);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* ##### Lenora ##### */
.lenora {
  position: relative;
  padding: 80px 0;
  margin: 50px 0;
  min-height: 500px;
  background: url(../images/lenora-bg.png) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}

.lenora::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffc200a0;
}

.lenora-content {
  position: relative;
  max-width: 1014px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.lenora-content p {
  font-size: 25px;
}

/* ##### Subscribe ##### */
.subscribe {
  padding: 80px 0;
  background: url(../images/bg.png) no-repeat;
  background-size: 100% 100%;
  background-color: var(--white-clr);
}

.subscribe form {
  margin: 60px auto;
  max-width: 770px;
  display: flex;
}

.subscribe form input {
  border: 0;
  outline: 0;
}

.subscribe form input[type='email'] {
  width: 70%;
  background-color: var(--white-clr);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  padding: 0 15px;
  font-size: 20px;
}

.subscribe form input[type='submit'] {
  width: 30%;
  height: 55px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* ##### Footer ##### */
#footer {
  padding: 100px 0;
  background-color: var(--bg-clr);
  color: var(--white-clr);
}

.items-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.item {
  margin: 0 auto;
}

.item h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.item p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.item ul li {
  margin-bottom: 5px;
}

.item ul a {
  display: block;
  color: var(--white-clr);
  text-transform: capitalize;
}

.first ul {
  display: flex;
}

.first ul li {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-clr);
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 0;
  transition: 0.3s ease;
}

.first ul li:hover {
  background-color: #ffffffdb;
  transform: translateY(10px);
}

.first ul a {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--bg-clr);
}
